html {
    width: 400px;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 360px;
    margin: auto;
}

* {
    box-sizing: border-box;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 0;
    white-space: nowrap;
}

.toggle-section, .domain-section {
    margin-bottom: 20px;
    text-align: center;
}

label.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
    margin-right: 10px;
}

label.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

#global-status-text, #domain-status-text {
    display: inline;
    font-size: 20px;
    color: #666;
    white-space: nowrap;
}